@channel **Hello Everyone,**

**2024-02-06 `22.1-Big-Data-Introduction to Big Data`**

All of you did fantastic working through the ML notebooks. I really hope all of you continue that journey as ML is a very exciting career path.  Please let me know if you have any further questions about ML.
 
Alright gang, you have arrived at the last week of "official" lecture **BIG DATA**!!!  You will find when you hit the streets with all of your new found knowledge, that data just doesn't always fit on your laptop, or even that big server the IT team spent `$250k` for.  That combined with the straight up speed of incoming data, we needed more.. that's where **Big Data** comes in.  

We will be using [Google Colab](https://colab.research.google.com/) this week, so please verify you can access it (plan to come early to class if you cannot)

Here are some resources to prep you for day 1 of Big Data:

* [Nice easy explanation of base Hadoop](https://www.hadoop360.datasciencecentral.com/blog/what-is-hadoop-an-easy-explanation-for-absolutely-anyone)
* [Spark description (I will be adding a LOT more to this)](https://www.bernardmarr.com/default.asp?contentID=1079)
* [Big Data Use Cases](https://www.datamation.com/big-data/big-data-use-cases.html)
* [Google Colab](https://colab.research.google.com/)
* [Here's a great video explaining HDFS for people who like Legos](https://www.youtube.com/watch?v=4Gfl0WuONMY)
* [mrjob](https://github.com/Yelp/mrjob)

**Objectives**


* Identify the parts of the Hadoop ecosystem.
* Write a Python script that implements the MapReduce programming model.
* Identify the differences between the Hadoop and Spark environments.
* Create a DataFrame by using PySpark.
* Filter and order a DataFrame by using Spark.

**Presentation**
* [22.1-Introduction to Big Data](https://ucb.bootcampcontent.com/UCB-Coding-Bootcamp/UCB-VIRT-DATA-PT-11-2022-U-LOLC/-/blob/main/slides/Data-22.1-Intro_to_Big_Data.pdf)

**Install**
* [Download WinRAR](https://www.win-rar.com/start.html?&L=0)
* [Download JDK Development Kit](https://www.oracle.com/java/technologies/downloads/)
* [Download Apache Spark](https://spark.apache.org/downloads.html)
   - Extract Spark to a folder, example `C:/spark-3.4.0-bin-hadoop3`
   - Restart your `terminal`/`git bash`
   - Add to your env `HADOOP_HOME=C:\spark-3.4.0-bin-hadoop3`
   - Add to yor path `%HADOOP_HOME%\bin`
   - Copy [winutils](https://github.com/steveloughran/winutils/tree/master/hadoop-3.0.0/bin) to `C:\spark-3.4.0-bin-hadoop3\bin`
   

```
pip install pyspark findspark
pip install MRJob
pip install plotly
```

**Best wishes.**

---
* **Instructor Do: Welcome Class (Slides 1–2) (5 mins)**
* **Instructor Do: Intro to Big Data (Slides 3–12) (10 mins)**
* **Instructor Do: Intro to MapReduce with mrjob (Slides 13-24) (10 mins)**

In [1]:
# !pip install pyspark findspark
# !pip install MRJob
# !pip install plotly

# ==========================================

### 1.01 Students Do: MapReduce Use Cases (10 mins)

# MapReduce Use Cases

In this activity, you’ll find common use cases for MapReduce. The ability to research and learn about common use cases is an important skill to have in your career.

## Instructions

Using a search engine, search for two or three use cases of MapReduce. Be prepared to share your findings with the class. 

---

# MapReduce Use Cases Solution

* Identifying potential security breaches. That is, using MapReduce to analyze and identify internal messages, emails, or server connection attempts that seem suspicious.

* Analyzing social media data to determine how people feel about your company.

* Analyzing log files from either a computer or a software component that produces lots of logs.

---

# ==========================================

### 1.02 Everyone Do: MRJob with a CSV File (15 min)

# Everyone Do

In this activity you'll code along with the instructor to implement MapReduce using MRJob.

---

```python
python <file_name> <input_File>
# locally
python hot_solution.py ../Resources/austin_weather_2017.csv
# on EMR
python hot_solution.py ../Resources/austin_weather_2017.csv -r emr
# on Dataproc
python hot_solution.py ../Resources/austin_weather_2017.csv -r dataproc
# on your Hadoop cluster
python hot.py ../Resources/austin_weather_2017.csv -r hadoop
```

---

```python
"""
Find the number of hot days in Austin for 2017
"""
from mrjob.job import MRJob


class Hot_Days(MRJob):

    def mapper(self, key, line):
        (station, name, state, date, snow, tmax, tmin) = line.split(",")
        if tmax and int(tmax) >= 100:
            yield name, 1

    def reducer(self, name, hot):
        yield name, sum(hot)


if __name__ == "__main__":
    Hot_Days.run()

```

# ==========================================

### 1.03 Students Do: Snow in Austin (14 min)

# Snow in Austin

In this activity, you’ll use MRJob to print out the days when it snowed in Austin, Texas.

## Instructions

1. Review the `austin_weather_2017.csv` file.

2. Import MRJob.

3. Create a new class that will contain your `mapper` and `reducer` functions.

4. Create `mapper` and `reducer` functions that return the days when it snowed in Austin, Texas. 

## Bonus

Calculate the maximum amount of snow per date.

**Hint:** Use the `max` function to reduce the values for a date to a single value.

## References

National Centers for Environmental Information: National Oceanic and Atmospheric Administration. Daily Summaries Station Details. Austin 14.7 WSW, TX  US. Retrieved from [https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:US1TXHYS059/detail](https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:US1TXHYS059/detail).


---

```python

"""
Which days had snow?
"""
from mrjob.job import MRJob


class Snow_days(MRJob):

    def mapper(self, key, line):
        (station, name, state, date, snow, tmax, tmin) = line.split(",")
        if snow and float(snow) > 0:
            yield date, 1

    def reducer(self, date, snow):
        yield date, max(snow)


if __name__ == "__main__":
    Snow_days.run()


```

---
## Bonus
```python
"""
What was the max amount of snow per date?
"""
from mrjob.job import MRJob


class Snow_days(MRJob):

    def mapper(self, key, line):
        (station, name, state, date, snow, tmax, tmin) = line.split(",")
        if snow and float(snow) > 0:
            yield date, snow

    def reducer(self, date, snow):
        yield date, max(snow)


if __name__ == "__main__":
    Snow_days.run()

```

---
```python
python hot.py ../Resources/austin_weather_2017.csv
```

# ==========================================

### 1.04.1 Instructor Do: Spark Overview (Slides 25–38) (10 mins)
### 1.04.2 Instructor Do: Setup Google Colab (5 mins)
### 1.04.3 Instructor Do: PySpark DataFrame Basics (10 mins)

## spark_dataframe_basics_solution.ipynb

## Dataframe Basics

In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [3]:
# Start Spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame Basics").getOrCreate()

In [ ]:
# pd.DataFrame()
# df

In [6]:
# Create DataFrame manually
dataframe = spark.createDataFrame([
    (0, "Here is our DataFrame"),
    (1, "We are making one from scratch"),
    (2, "This will look very similar to a Pandas DataFrame")
], ["id", "words"])

In [8]:
dataframe.show(truncate=False)

+---+-------------------------------------------------+
|id |words                                            |
+---+-------------------------------------------------+
|0  |Here is our DataFrame                            |
|1  |We are making one from scratch                   |
|2  |This will look very similar to a Pandas DataFrame|
+---+-------------------------------------------------+

In [ ]:
# read_csv

In [9]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/1/food.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("food.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+-------+-----+
|   food|price|
+-------+-----+
|  pizza|    0|
|  sushi|   12|
|chinese|   10|
+-------+-----+

In [11]:
# Print our schema
df.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: string (nullable = true)

In [12]:
# Show the columns
df.columns

['food', 'price']

In [13]:
# Describe our data
df.describe()

DataFrame[summary: string, food: string, price: string]

In [15]:
# Import struct fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [16]:
# Next we need to create the list of struct fields
schema = [StructField("food", StringType(), True), StructField("price", IntegerType(), True),]
schema

[StructField('food', StringType(), True),
 StructField('price', IntegerType(), True)]

In [17]:
# Pass in our fields
final = StructType(fields=schema)
final

StructType([StructField('food', StringType(), True), StructField('price', IntegerType(), True)])

In [18]:
# Read our data with our new schema
dataframe = spark.read.csv(SparkFiles.get("food.csv"), schema=final, sep=",", header=True)
dataframe.show()

+-------+-----+
|   food|price|
+-------+-----+
|  pizza|    0|
|  sushi|   12|
|chinese|   10|
+-------+-----+

In [19]:
# Print it out
dataframe.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: integer (nullable = true)

### Accessing data

In [20]:
dataframe['price']

Column<'price'>

In [21]:
type(dataframe['price'])

pyspark.sql.column.Column

In [22]:
dataframe.select('price')

DataFrame[price: int]

In [23]:
type(dataframe.select('price'))

pyspark.sql.dataframe.DataFrame

In [24]:
dataframe.select('price').show()

+-----+
|price|
+-----+
|    0|
|   12|
|   10|
+-----+

### Manipulating Columns

In [25]:
# Add new column
dataframe.withColumn('newprice', dataframe['price']).show()

+-------+-----+--------+
|   food|price|newprice|
+-------+-----+--------+
|  pizza|    0|       0|
|  sushi|   12|      12|
|chinese|   10|      10|
+-------+-----+--------+

In [26]:
# Update column name
dataframe.withColumnRenamed('price','newerprice').show()

+-------+----------+
|   food|newerprice|
+-------+----------+
|  pizza|         0|
|  sushi|        12|
|chinese|        10|
+-------+----------+

In [28]:
# Double the price
dataframe.withColumn('doubleprice',dataframe['price']*2).show()

+-------+-----+-----------+
|   food|price|doubleprice|
+-------+-----+-----------+
|  pizza|    0|          0|
|  sushi|   12|         24|
|chinese|   10|         20|
+-------+-----+-----------+

In [29]:
# Add a dollar to the price
dataframe.withColumn('add_one_dollar',dataframe['price']+1).show()

+-------+-----+--------------+
|   food|price|add_one_dollar|
+-------+-----+--------------+
|  pizza|    0|             1|
|  sushi|   12|            13|
|chinese|   10|            11|
+-------+-----+--------------+

In [30]:
# Half the price
dataframe.withColumn('half_price',dataframe['price']/2).show()

+-------+-----+----------+
|   food|price|half_price|
+-------+-----+----------+
|  pizza|    0|       0.0|
|  sushi|   12|       6.0|
|chinese|   10|       5.0|
+-------+-----+----------+

In [31]:
# Collecting a column as a list
dataframe.select("price").collect()

[Row(price=0), Row(price=12), Row(price=10)]

# Converting PySpark DataFrame to Pandas DataFrame

In [32]:
import pandas as pd
pandas_df = dataframe.toPandas()

In [33]:
pandas_df.head()

      food  price
0    pizza      0
1    sushi     12
2  chinese     10

---
## spark_dataframe_basics_solution_colab.ipynb

## Dataframe Basics

In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.3.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:3 http://archive.ubuntu.com/ubuntu focal InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease [18.1 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Get:7 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  Release
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease [18.1 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:13 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [988 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [1,882 kB]
Get:15 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,442 kB]
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main Sources [2,381 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main amd64 Packages [1,127 kB]
Get:19 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [2,920 kB]
Get:20 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,290 kB]
Get:21 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [2,009 kB]
Get:22 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal/main amd64 Packages [29.5 kB]
Fetched 15.4 MB in 8s (1,997 kB/s)
Reading package lists... Done

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame Basics").getOrCreate()

In [3]:
# Create DataFrame manually
dataframe = spark.createDataFrame([
    (0, "Here is our DataFrame"),
    (1, "We are making one from scratch"),
    (2, "This will look very similar to a Pandas DataFrame")
], ["id", "words"])

dataframe.show()

+---+--------------------+
| id|               words|
+---+--------------------+
|  0|Here is our DataF...|
|  1|We are making one...|
|  2|This will look ve...|
+---+--------------------+

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/1/food.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("food.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+-------+-----+
|   food|price|
+-------+-----+
|  pizza|    0|
|  sushi|   12|
|chinese|   10|
+-------+-----+

In [6]:
# Print our schema
df.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: string (nullable = true)

In [7]:
# Show the columns
df.columns

['food', 'price']

In [8]:
# Show the columns
df.columns

['food', 'price']

In [9]:
# Describe our data
df.describe()

DataFrame[summary: string, food: string, price: string]

In [10]:
# Import struct fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [11]:
# Next we need to create the list of struct fields
schema = [StructField("food", StringType(), True), StructField("price", IntegerType(), True),]
schema

[StructField('food', StringType(), True),
 StructField('price', IntegerType(), True)]

In [12]:
# Pass in our fields
final = StructType(fields=schema)
final

StructType([StructField('food', StringType(), True), StructField('price', IntegerType(), True)])

In [13]:
# Read our data with our new schema
dataframe = spark.read.csv(SparkFiles.get("food.csv"), schema=final, sep=",", header=True)
dataframe.show()

+-------+-----+
|   food|price|
+-------+-----+
|  pizza|    0|
|  sushi|   12|
|chinese|   10|
+-------+-----+

In [14]:
# Print it out
dataframe.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: integer (nullable = true)

### Accessing data

In [15]:
dataframe['price']

Column<'price'>

In [16]:
type(dataframe['price'])

pyspark.sql.column.Column

In [17]:
dataframe.select('price')

DataFrame[price: int]

In [18]:
type(dataframe.select('price'))

pyspark.sql.dataframe.DataFrame

In [19]:
dataframe.select('price').show()

+-----+
|price|
+-----+
|    0|
|   12|
|   10|
+-----+

### Manipulating Columns

In [20]:
# Add new column
dataframe.withColumn('newprice', dataframe['price']).show()

+-------+-----+--------+
|   food|price|newprice|
+-------+-----+--------+
|  pizza|    0|       0|
|  sushi|   12|      12|
|chinese|   10|      10|
+-------+-----+--------+

In [21]:
# Update column name
dataframe.withColumnRenamed('price','newerprice').show()

+-------+----------+
|   food|newerprice|
+-------+----------+
|  pizza|         0|
|  sushi|        12|
|chinese|        10|
+-------+----------+

In [22]:
# Double the price
dataframe.withColumn('doubleprice',dataframe['price']*2).show()

+-------+-----+-----------+
|   food|price|doubleprice|
+-------+-----+-----------+
|  pizza|    0|          0|
|  sushi|   12|         24|
|chinese|   10|         20|
+-------+-----+-----------+

In [23]:
# Add a dollar to the price
dataframe.withColumn('add_one_dollar',dataframe['price']+1).show()

+-------+-----+--------------+
|   food|price|add_one_dollar|
+-------+-----+--------------+
|  pizza|    0|             1|
|  sushi|   12|            13|
|chinese|   10|            11|
+-------+-----+--------------+

In [24]:
# Half the price
dataframe.withColumn('half_price',dataframe['price']/2).show()

+-------+-----+----------+
|   food|price|half_price|
+-------+-----+----------+
|  pizza|    0|       0.0|
|  sushi|   12|       6.0|
|chinese|   10|       5.0|
+-------+-----+----------+

In [25]:
# Collecting a column as a list
dataframe.select("price").collect()

[Row(price=0), Row(price=12), Row(price=10)]

# Converting PySpark DataFrame to Pandas DataFrame

In [26]:
import pandas as pd
pandas_df = dataframe.toPandas()

In [27]:
pandas_df.head()

      food  price
0    pizza      0
1    sushi     12
2  chinese     10

# ==========================================

### BREAK (0:10)

# ==========================================

### 1.05 Students Do: Demographic DataFrame Basics (15 min)

# Demographic DataFrame Basics

In this activity, you will explore Spark DataFrames.

## Instructions

Follow the comments in the provided notebook to clean and display demographic data by using Spark DataFrames.

Remember to consult the [documentation](http://spark.apache.org/docs/latest/api/python/index.html).

## References

Mockaroo, LLC. (2021). Realistic Data Generator. [https://www.mockaroo.com/](https://www.mockaroo.com/).

---

In [4]:
# pip install findspark

In [1]:
# Import findspark
import findspark
findspark.init()

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Demographics").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/07 15:58:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/1/demographics.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("demographics.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
| id|             name|age|height_m|weight_kg|children|          occupation|academic_degree|salary|            location|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
|  1|    Glad Gavrieli| 38|    1.52|       74|       0|Computer Systems ...|       Bachelor|    78|           Louisiana|
|  2|  Henrieta Fittes| 34|    1.72|       39|       4|             Teacher|         Master|    44|            Illinois|
|  3|   Peyton Dulanty| 24|    1.80|       47|       5|Senior Quality En...|            PhD|    44|      North Carolina|
|  4|     Denna Morgen| 48|    1.81|       71|       5|   Account Executive|         Master|    81|          California|
|  5|    Camella Izaks| 34|    1.65|       60|       1|   Director of Sales|            PhD|    76|                Ohio|
|  6|     Shara Esposi| 49|    1.50|       52|       2|     Sales Associate|         Master|    68|            Virginia|
|  7|Saunderson Gudgen| 64|    1.93|       47|       0|Sales Representative|         Master|    85|            New York|
|  8|Aldrich Rosendorf| 42|    1.77|       66|       0|        Developer II|            PhD|    84|District of Columbia|
|  9| Edlin Washington| 50|    1.74|       52|       4|     Design Engineer|         Master|    88|              Oregon|
| 10| Anders Penwright| 55|    1.98|       90|       2|     Project Manager|       Bachelor|   116|             Georgia|
| 11|   Ruthie Cubbini| 67|    1.52|       55|       4|     Data Coordiator|            PhD|    51|District of Columbia|
| 12|  Juliet Harbidge| 66|    1.61|       49|       2|             Actuary|            PhD|    66|         Mississippi|
| 13|  Jeannine Kelner| 30|    1.80|       81|       1|       Programmer II|       Bachelor|    90|              Hawaii|
| 14|  Roi Gristhwaite| 66|    1.86|       90|       1|    Product Engineer|       Bachelor|    40|           Tennessee|
| 15|      Brant Stark| 58|    1.94|       53|       4|Sales Representative|       Bachelor|    96|      North Carolina|
| 16|   Donny Rankling| 26|    1.51|       39|       1|Physical Therapy ...|       Bachelor|   116|            Virginia|
| 17|     Dov Gavaghan| 27|    1.58|       68|       5|Computer Systems ...|       Bachelor|    74|                Utah|
| 18|    Rosanne Wreak| 37|    1.76|       81|       2|Payment Adjustmen...|         Master|   103|             Florida|
| 19|    Belva Spraggs| 50|    1.65|       80|       2|             Teacher|       Bachelor|    46|             Georgia|
| 20|      Welch Lease| 21|    1.57|       79|       4|Mechanical System...|         Master|   114|       Massachusetts|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
only showing top 20 rows

In [4]:
# Print the column names
df.columns

['id',
 'name',
 'age',
 'height_m',
 'weight_kg',
 'children',
 'occupation',
 'academic_degree',
 'salary',
 'location']

In [5]:
# Print out the first 10 rows
df.show(10)

+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
| id|             name|age|height_m|weight_kg|children|          occupation|academic_degree|salary|            location|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
|  1|    Glad Gavrieli| 38|    1.52|       74|       0|Computer Systems ...|       Bachelor|    78|           Louisiana|
|  2|  Henrieta Fittes| 34|    1.72|       39|       4|             Teacher|         Master|    44|            Illinois|
|  3|   Peyton Dulanty| 24|    1.80|       47|       5|Senior Quality En...|            PhD|    44|      North Carolina|
|  4|     Denna Morgen| 48|    1.81|       71|       5|   Account Executive|         Master|    81|          California|
|  5|    Camella Izaks| 34|    1.65|       60|       1|   Director of Sales|            PhD|    76|                Ohio|
|  6|     Shara Esposi| 49|    1.50|       52|       2|     Sales Associate|         Master|    68|            Virginia|
|  7|Saunderson Gudgen| 64|    1.93|       47|       0|Sales Representative|         Master|    85|            New York|
|  8|Aldrich Rosendorf| 42|    1.77|       66|       0|        Developer II|            PhD|    84|District of Columbia|
|  9| Edlin Washington| 50|    1.74|       52|       4|     Design Engineer|         Master|    88|              Oregon|
| 10| Anders Penwright| 55|    1.98|       90|       2|     Project Manager|       Bachelor|   116|             Georgia|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
only showing top 10 rows

In [6]:
# Select the age, height_meter, and weight_kg columns and use describe to show the summary statistics
df.select(["age", "height_m", "weight_kg"]).describe().show()

+-------+------------------+-------------------+------------------+
|summary|               age|           height_m|         weight_kg|
+-------+------------------+-------------------+------------------+
|  count|              1000|               1000|              1000|
|   mean|            42.961|  1.750380000000002|            64.308|
| stddev|14.166869067623207|0.14157152997018183|15.840077147667067|
|    min|                18|               1.50|                38|
|    max|                67|               2.00|                90|
+-------+------------------+-------------------+------------------+

In [7]:
# Print the schema to see the types
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- height_m: string (nullable = true)
 |-- weight_kg: string (nullable = true)
 |-- children: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- academic_degree: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- location: string (nullable = true)

In [8]:
# Rename the Salary column to `Salary (1k)` and show only this new column
df = df.withColumnRenamed('Salary', 'Salary (1k)')
df.select("Salary (1k)").show()

+-----------+
|Salary (1k)|
+-----------+
|         78|
|         44|
|         44|
|         81|
|         76|
|         68|
|         85|
|         84|
|         88|
|        116|
|         51|
|         66|
|         90|
|         40|
|         96|
|        116|
|         74|
|        103|
|         46|
|        114|
+-----------+
only showing top 20 rows

In [9]:
# Create a new column called `Salary` where the values are the `Salary (1k)` * 1000
# Show the columns `Salary` and `Salary (1k)`
df = df.withColumn("Salary", df["Salary (1k)"] * 1000)
df.select(["Salary", "Salary (1k)"]).show()

+--------+-----------+
|  Salary|Salary (1k)|
+--------+-----------+
| 78000.0|         78|
| 44000.0|         44|
| 44000.0|         44|
| 81000.0|         81|
| 76000.0|         76|
| 68000.0|         68|
| 85000.0|         85|
| 84000.0|         84|
| 88000.0|         88|
|116000.0|        116|
| 51000.0|         51|
| 66000.0|         66|
| 90000.0|         90|
| 40000.0|         40|
| 96000.0|         96|
|116000.0|        116|
| 74000.0|         74|
|103000.0|        103|
| 46000.0|         46|
|114000.0|        114|
+--------+-----------+
only showing top 20 rows

# ==========================================

### 1.06 Instructor Do: PySpark DataFrame Filtering (5 min)

# Instructor Demo

## References

Google Research Datasets repository (2021). Data modified from "Nutrition5k Dataset". Retrieved from GitHub [https://github.com/google-research-datasets/Nutrition5k


---

In [35]:
# Import findspark
import findspark
findspark.init()

In [36]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkFunctions").getOrCreate()

In [37]:
from pyspark import SparkFiles
url ="https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/1/nutrition.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("nutrition.csv"), sep=",", header=True, ignoreLeadingWhiteSpace=True) #Observe the need to use ignoreLeadingWhiteSpace=True, otherwise a leading whitespace will appear in the column names

# Show DataFrame
df.show()

+---------------+--------------+----------+---------+----------+-------------+--------------------+
|        dish_id|total_calories|total_mass|total_fat|total_carb|total_protein|         ingredients|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
|dish_1561662216|    300.794281|193.000000|12.387489| 28.218290|    18.633970|soy sauce; garlic...|
|dish_1562688426|    137.569992| 88.000000| 8.256000|  5.190000|    10.297000|roasted potatoes;...|
|dish_1561662054|    419.438782|292.000000|23.838249| 26.351543|    25.910593|pepper; white ric...|
|dish_1562008979|    382.936646|290.000000|22.224644| 10.173570|    35.345387|jalapenos; lemon ...|
|dish_1560455030|     20.590000|103.000000| 0.148000|  4.625000|     0.956000|cherry tomatoes; ...|
|dish_1558372433|     74.360001|143.000000| 0.286000|  0.429000|    20.020000|          deprecated|
|dish_1563379132|    232.050003|119.000000|14.280000| 14.280000|    10.591001|         chilaquiles|
|dish_1565640549|     45.482903|139.000000| 1.568471|  7.043886|     2.641478|tomatoes; cilantr...|
|dish_1563207364|    309.269989|271.000000|13.774000| 30.657000|    15.010000|scrambled eggs; y...|
|dish_1561575474|    120.058434|183.000000| 4.966118| 17.412746|     2.990431|salt; eggplant; r...|
|dish_1550795690|     68.119995|131.000000| 0.262000| 18.340000|     0.393000|               apple|
|dish_1563216717|    246.007996|332.000000| 5.636517| 16.284782|    33.068710|garlic; squash; c...|
|dish_1565972591|    195.199997|122.000000|12.200000|  3.660000|    17.080000|chicken apple sau...|
|dish_1568649312|     44.459999| 78.000000| 0.234000| 10.920000|     0.546000|             berries|
|dish_1550876012|    253.520004|207.000000| 4.455999| 12.460000|    38.608002|chicken; cantalou...|
|dish_1551565034|      7.790000| 19.000000| 0.038000|  1.900000|     0.171000|              carrot|
|dish_1550860747|     39.500000| 79.000000| 0.079000| 10.270000|     0.395000|           pineapple|
|dish_1566245398|    506.355377|230.000000|31.183908|  4.258222|    49.023197|olive oil; lime; ...|
|dish_1563381680|     32.459999|  6.000000| 2.520000|  0.084000|     2.220000|               bacon|
|dish_1562183096|     41.188980| 95.000000| 2.571043|  3.280260|     2.804970|pepper; chard; bl...|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [38]:
# Order a DataFrame by ascending values
df.orderBy(df["total_calories"].asc()).show(5)

+---------------+--------------+----------+---------+----------+-------------+-------------+
|        dish_id|total_calories|total_mass|total_fat|total_carb|total_protein|  ingredients|
+---------------+--------------+----------+---------+----------+-------------+-------------+
|dish_1557861216|      0.000000|  1.000000| 0.000000|  0.000000|     0.000000|   plate only|
|dish_1556575700|      0.000000| 86.000000| 0.000000|  0.000000|     0.000000|   plate only|
|dish_1558461431|      1.150000|  5.000000| 0.020000|  0.180000|     0.145000|spinach (raw)|
|dish_1558460205|      1.840000|  8.000000| 0.032000|  0.288000|     0.232000|spinach (raw)|
|dish_1551135590|     10.000000| 25.000000| 0.050000|  2.250000|     0.500000| bell peppers|
+---------------+--------------+----------+---------+----------+-------------+-------------+
only showing top 5 rows

In [39]:
# Order a DataFrame by descending values
df.orderBy(df["total_calories"].desc()).show(5)

+---------------+--------------+----------+---------+----------+-------------+--------------------+
|        dish_id|total_calories|total_mass|total_fat|total_carb|total_protein|         ingredients|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
|dish_1566931674|    990.989014|531.000000|76.803001| 23.140001|    58.401997|chicken; mixed gr...|
|dish_1563476408|    990.400024|513.000000|47.925026| 55.908291|    79.199821|salmon; garlic; s...|
|dish_1559678104|     99.962006|135.000000| 7.348568|  7.806039|     2.654628|cucumbers; olive ...|
|dish_1558721434|     99.900002|350.000000| 0.778000| 22.713001|     3.759000|cherry tomatoes; ...|
|dish_1565981802|     99.754425|152.000000| 5.596065|  6.631088|     8.817584|carrot; salt; tof...|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
only showing top 5 rows

In [42]:
# Import average function
from pyspark.sql.functions import avg
df.select(avg("total_calories")).show()

+-------------------+
|avg(total_calories)|
+-------------------+
| 223.98083459731635|
+-------------------+

In [43]:
# Using filter
df.filter("total_calories<200").show()

+---------------+--------------+----------+---------+----------+-------------+--------------------+
|        dish_id|total_calories|total_mass|total_fat|total_carb|total_protein|         ingredients|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
|dish_1562688426|    137.569992| 88.000000| 8.256000|  5.190000|    10.297000|roasted potatoes;...|
|dish_1560455030|     20.590000|103.000000| 0.148000|  4.625000|     0.956000|cherry tomatoes; ...|
|dish_1558372433|     74.360001|143.000000| 0.286000|  0.429000|    20.020000|          deprecated|
|dish_1565640549|     45.482903|139.000000| 1.568471|  7.043886|     2.641478|tomatoes; cilantr...|
|dish_1561575474|    120.058434|183.000000| 4.966118| 17.412746|     2.990431|salt; eggplant; r...|
|dish_1550795690|     68.119995|131.000000| 0.262000| 18.340000|     0.393000|               apple|
|dish_1565972591|    195.199997|122.000000|12.200000|  3.660000|    17.080000|chicken apple sau...|
|dish_1568649312|     44.459999| 78.000000| 0.234000| 10.920000|     0.546000|             berries|
|dish_1551565034|      7.790000| 19.000000| 0.038000|  1.900000|     0.171000|              carrot|
|dish_1550860747|     39.500000| 79.000000| 0.079000| 10.270000|     0.395000|           pineapple|
|dish_1563381680|     32.459999|  6.000000| 2.520000|  0.084000|     2.220000|               bacon|
|dish_1562183096|     41.188980| 95.000000| 2.571043|  3.280260|     2.804970|pepper; chard; bl...|
|dish_1550778583|     67.759995| 88.000000| 0.088000| 14.960000|     1.760000|            potatoes|
|dish_1566417398|     56.892494| 46.000000| 5.357862|  2.088042|     0.792647|mustard; vinegar;...|
|dish_1568144828|     76.748177|152.000000| 4.168533| 10.369692|     1.329856|salt; pepper; car...|
|dish_1550708440|     37.500000| 75.000000| 0.075000|  9.750000|     0.375000|           pineapple|
|dish_1551307090|    171.550003| 52.000000|11.686000| 11.480000|     6.152000|potato chips; bac...|
|dish_1562862493|    198.320007|134.000000|14.740000|  2.144000|    13.400001|      scrambled eggs|
|dish_1558549008|     20.700001|115.000000| 0.230000|  4.485000|     1.035000|     cherry tomatoes|
|dish_1551226363|     17.150000| 49.000000| 0.196000|  3.430000|     1.176000|            broccoli|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [44]:
# Filter by total_calories on certain columns
df.filter("total_calories<200").select(['total_mass','total_fat', 'total_carb','total_protein']).show() #excludes the last column (ingredients)

+----------+---------+----------+-------------+
|total_mass|total_fat|total_carb|total_protein|
+----------+---------+----------+-------------+
| 88.000000| 8.256000|  5.190000|    10.297000|
|103.000000| 0.148000|  4.625000|     0.956000|
|143.000000| 0.286000|  0.429000|    20.020000|
|139.000000| 1.568471|  7.043886|     2.641478|
|183.000000| 4.966118| 17.412746|     2.990431|
|131.000000| 0.262000| 18.340000|     0.393000|
|122.000000|12.200000|  3.660000|    17.080000|
| 78.000000| 0.234000| 10.920000|     0.546000|
| 19.000000| 0.038000|  1.900000|     0.171000|
| 79.000000| 0.079000| 10.270000|     0.395000|
|  6.000000| 2.520000|  0.084000|     2.220000|
| 95.000000| 2.571043|  3.280260|     2.804970|
| 88.000000| 0.088000| 14.960000|     1.760000|
| 46.000000| 5.357862|  2.088042|     0.792647|
|152.000000| 4.168533| 10.369692|     1.329856|
| 75.000000| 0.075000|  9.750000|     0.375000|
| 52.000000|11.686000| 11.480000|     6.152000|
|134.000000|14.740000|  2.144000|    13.400001|
|115.000000| 0.230000|  4.485000|     1.035000|
| 49.000000| 0.196000|  3.430000|     1.176000|
+----------+---------+----------+-------------+
only showing top 20 rows

### Using Python Comparison Operators

In [45]:
# Same results only this time using python
# df.filter("total_calories=200").show()
df.filter(df["total_calories"] < 200).show()

+---------------+--------------+----------+---------+----------+-------------+--------------------+
|        dish_id|total_calories|total_mass|total_fat|total_carb|total_protein|         ingredients|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
|dish_1562688426|    137.569992| 88.000000| 8.256000|  5.190000|    10.297000|roasted potatoes;...|
|dish_1560455030|     20.590000|103.000000| 0.148000|  4.625000|     0.956000|cherry tomatoes; ...|
|dish_1558372433|     74.360001|143.000000| 0.286000|  0.429000|    20.020000|          deprecated|
|dish_1565640549|     45.482903|139.000000| 1.568471|  7.043886|     2.641478|tomatoes; cilantr...|
|dish_1561575474|    120.058434|183.000000| 4.966118| 17.412746|     2.990431|salt; eggplant; r...|
|dish_1550795690|     68.119995|131.000000| 0.262000| 18.340000|     0.393000|               apple|
|dish_1565972591|    195.199997|122.000000|12.200000|  3.660000|    17.080000|chicken apple sau...|
|dish_1568649312|     44.459999| 78.000000| 0.234000| 10.920000|     0.546000|             berries|
|dish_1551565034|      7.790000| 19.000000| 0.038000|  1.900000|     0.171000|              carrot|
|dish_1550860747|     39.500000| 79.000000| 0.079000| 10.270000|     0.395000|           pineapple|
|dish_1563381680|     32.459999|  6.000000| 2.520000|  0.084000|     2.220000|               bacon|
|dish_1562183096|     41.188980| 95.000000| 2.571043|  3.280260|     2.804970|pepper; chard; bl...|
|dish_1550778583|     67.759995| 88.000000| 0.088000| 14.960000|     1.760000|            potatoes|
|dish_1566417398|     56.892494| 46.000000| 5.357862|  2.088042|     0.792647|mustard; vinegar;...|
|dish_1568144828|     76.748177|152.000000| 4.168533| 10.369692|     1.329856|salt; pepper; car...|
|dish_1550708440|     37.500000| 75.000000| 0.075000|  9.750000|     0.375000|           pineapple|
|dish_1551307090|    171.550003| 52.000000|11.686000| 11.480000|     6.152000|potato chips; bac...|
|dish_1562862493|    198.320007|134.000000|14.740000|  2.144000|    13.400001|      scrambled eggs|
|dish_1558549008|     20.700001|115.000000| 0.230000|  4.485000|     1.035000|     cherry tomatoes|
|dish_1551226363|     17.150000| 49.000000| 0.196000|  3.430000|     1.176000|            broccoli|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [54]:
# Filter on the price column for items less than 200 dollars and greater than 80 dollars.
# And &
# OR |
df3 = df.filter( (df["total_calories"] < 200) & (df['total_mass'] > 80) )

In [55]:
df3.show()

+---------------+--------------+----------+---------+----------+-------------+--------------------+
|        dish_id|total_calories|total_mass|total_fat|total_carb|total_protein|         ingredients|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
|dish_1562688426|    137.569992| 88.000000| 8.256000|  5.190000|    10.297000|roasted potatoes;...|
|dish_1560455030|     20.590000|103.000000| 0.148000|  4.625000|     0.956000|cherry tomatoes; ...|
|dish_1558372433|     74.360001|143.000000| 0.286000|  0.429000|    20.020000|          deprecated|
|dish_1565640549|     45.482903|139.000000| 1.568471|  7.043886|     2.641478|tomatoes; cilantr...|
|dish_1561575474|    120.058434|183.000000| 4.966118| 17.412746|     2.990431|salt; eggplant; r...|
|dish_1550795690|     68.119995|131.000000| 0.262000| 18.340000|     0.393000|               apple|
|dish_1565972591|    195.199997|122.000000|12.200000|  3.660000|    17.080000|chicken apple sau...|
|dish_1562183096|     41.188980| 95.000000| 2.571043|  3.280260|     2.804970|pepper; chard; bl...|
|dish_1550778583|     67.759995| 88.000000| 0.088000| 14.960000|     1.760000|            potatoes|
|dish_1568144828|     76.748177|152.000000| 4.168533| 10.369692|     1.329856|salt; pepper; car...|
|dish_1562862493|    198.320007|134.000000|14.740000|  2.144000|    13.400001|      scrambled eggs|
|dish_1558549008|     20.700001|115.000000| 0.230000|  4.485000|     1.035000|     cherry tomatoes|
|dish_1563822597|     59.400002|176.000000| 2.170667|  7.626667|     4.106667|broccoli; caesar ...|
|dish_1565119669|     55.965000|229.000000| 1.030500| 10.842000|     3.272500|kale; zucchini; c...|
|dish_1551233434|     27.230000|104.000000| 0.292000|  5.182000|     2.334000|mushroom; cucumbe...|
|dish_1563393217|     49.230003|228.000000| 0.467667|  9.802668|     2.865667|zucchini; broccol...|
|dish_1568144803|     66.128174| 93.000000| 4.050533|  8.068691|     0.798856|salt; pepper; car...|
|dish_1551487158|     94.299995| 82.000000| 8.774000|  5.166000|     0.656000|              olives|
|dish_1561997365|     98.951996|168.000000| 0.672000|  6.048000|    16.800001|              yogurt|
|dish_1551395233|    139.410004|113.000000| 2.094000|  5.964000|    24.362000|chicken; corn; sh...|
+---------------+--------------+----------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [48]:
# Filter on a specific value in a column. 
df.filter(df["ingredients"] == "bacon").show()

+---------------+--------------+----------+---------+----------+-------------+-----------+
|        dish_id|total_calories|total_mass|total_fat|total_carb|total_protein|ingredients|
+---------------+--------------+----------+---------+----------+-------------+-----------+
|dish_1563381680|     32.459999|  6.000000| 2.520000|  0.084000|     2.220000|      bacon|
|dish_1559319860|     70.330002| 13.000000| 5.460000|  0.182000|     4.810000|      bacon|
|dish_1562086702|    178.529999| 33.000000|13.860000|  0.462000|    12.210000|      bacon|
|dish_1551391710|    102.789993| 19.000000| 7.980000|  0.266000|     7.030000|      bacon|
|dish_1564073860|    492.309998| 91.000000|38.219997|  1.274000|    33.670002|      bacon|
|dish_1550776767|     81.149994| 15.000000| 6.300000|  0.210000|     5.550000|      bacon|
|dish_1558032156|    140.660004| 26.000000|10.920000|  0.364000|     9.620000|      bacon|
|dish_1551136683|     70.330002| 13.000000| 5.460000|  0.182000|     4.810000|      bacon|
|dish_1550769483|    113.610001| 21.000000| 8.820000|  0.294000|     7.770000|      bacon|
|dish_1565974375|    459.849976| 85.000000|35.700001|  1.190000|    31.450001|      bacon|
|dish_1559059954|    108.199997| 20.000000| 8.400000|  0.280000|     7.400000|      bacon|
|dish_1558031566|    140.660004| 26.000000|10.920000|  0.364000|     9.620000|      bacon|
|dish_1551306860|     59.509998| 11.000000| 4.620000|  0.154000|     4.070000|      bacon|
|dish_1551124637|    108.199997| 20.000000| 8.400000|  0.280000|     7.400000|      bacon|
|dish_1562603536|     75.739998| 14.000000| 5.880000|  0.196000|     5.180000|      bacon|
|dish_1559838214|     43.279999|  8.000000| 3.360000|  0.112000|     2.960000|      bacon|
|dish_1558026714|    129.839996| 24.000000|10.080000|  0.336000|     8.880000|      bacon|
|dish_1559232986|    189.349991| 35.000000|14.700000|  0.490000|    12.950000|      bacon|
|dish_1561997248|    113.610001| 21.000000| 8.820000|  0.294000|     7.770000|      bacon|
|dish_1550771191|     81.149994| 15.000000| 6.300000|  0.210000|     5.550000|      bacon|
+---------------+--------------+----------+---------+----------+-------------+-----------+
only showing top 20 rows

# ==========================================

### 1.07 Students Do: PySpark Demographic Filtering (15 min)

# PySpark Demographic Filtering

In this activity, you will summarize the data in various ways to answer demographic questions.

## Instructions

Use PySpark methods and the demographics dataset to answer the following questions:

* Which occupation had the highest salary?
* Which occupation had the lowest salary?
* What is the mean salary of this dataset?
* What is the `max` and `min` of the Salary column?
* Which occupations have salaries above 80k? List all of them.

## Bonus

What is the average age and height of people for each academic degree type?

**Hint:** You will need to use `groupBy` to answer this question.

## References

Mockaroo, LLC. (2021). Realistic Data Generator. [https://www.mockaroo.com/](https://www.mockaroo.com/).

---

In [1]:
# Import findspark
import findspark
findspark.init()

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("demographicsFilter").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/07 16:18:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/1/demographics.csv"
spark.sparkContext.addFile(url)
df = spark.read.option('header', 'true').csv(SparkFiles.get("demographics.csv"), inferSchema=True, sep=',')

# Show DataFrame
df.show()

+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
| id|             name|age|height_m|weight_kg|children|          occupation|academic_degree|salary|            location|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
|  1|    Glad Gavrieli| 38|    1.52|       74|       0|Computer Systems ...|       Bachelor|    78|           Louisiana|
|  2|  Henrieta Fittes| 34|    1.72|       39|       4|             Teacher|         Master|    44|            Illinois|
|  3|   Peyton Dulanty| 24|     1.8|       47|       5|Senior Quality En...|            PhD|    44|      North Carolina|
|  4|     Denna Morgen| 48|    1.81|       71|       5|   Account Executive|         Master|    81|          California|
|  5|    Camella Izaks| 34|    1.65|       60|       1|   Director of Sales|            PhD|    76|                Ohio|
|  6|     Shara Esposi| 49|     1.5|       52|       2|     Sales Associate|         Master|    68|            Virginia|
|  7|Saunderson Gudgen| 64|    1.93|       47|       0|Sales Representative|         Master|    85|            New York|
|  8|Aldrich Rosendorf| 42|    1.77|       66|       0|        Developer II|            PhD|    84|District of Columbia|
|  9| Edlin Washington| 50|    1.74|       52|       4|     Design Engineer|         Master|    88|              Oregon|
| 10| Anders Penwright| 55|    1.98|       90|       2|     Project Manager|       Bachelor|   116|             Georgia|
| 11|   Ruthie Cubbini| 67|    1.52|       55|       4|     Data Coordiator|            PhD|    51|District of Columbia|
| 12|  Juliet Harbidge| 66|    1.61|       49|       2|             Actuary|            PhD|    66|         Mississippi|
| 13|  Jeannine Kelner| 30|     1.8|       81|       1|       Programmer II|       Bachelor|    90|              Hawaii|
| 14|  Roi Gristhwaite| 66|    1.86|       90|       1|    Product Engineer|       Bachelor|    40|           Tennessee|
| 15|      Brant Stark| 58|    1.94|       53|       4|Sales Representative|       Bachelor|    96|      North Carolina|
| 16|   Donny Rankling| 26|    1.51|       39|       1|Physical Therapy ...|       Bachelor|   116|            Virginia|
| 17|     Dov Gavaghan| 27|    1.58|       68|       5|Computer Systems ...|       Bachelor|    74|                Utah|
| 18|    Rosanne Wreak| 37|    1.76|       81|       2|Payment Adjustmen...|         Master|   103|             Florida|
| 19|    Belva Spraggs| 50|    1.65|       80|       2|             Teacher|       Bachelor|    46|             Georgia|
| 20|      Welch Lease| 21|    1.57|       79|       4|Mechanical System...|         Master|   114|       Massachusetts|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- height_m: double (nullable = true)
 |-- weight_kg: integer (nullable = true)
 |-- children: integer (nullable = true)
 |-- occupation: string (nullable = true)
 |-- academic_degree: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- location: string (nullable = true)

In [5]:
# You will have to convert the data types of the following columns when you use Colab.
# from pyspark.sql.types import IntegerType, DoubleType
# df = df.withColumn("id", df["id"].cast(IntegerType()))
# df = df.withColumn("age", df["age"].cast(IntegerType()))
# df = df.withColumn("weight_kg", df["weight_kg"].cast(IntegerType()))
# df = df.withColumn("children", df["children"].cast(IntegerType()))
# df = df.withColumn("salary", df["salary"].cast(IntegerType()))
# df = df.withColumn("height_m", df["height_m"].cast(DoubleType()))

In [6]:
# What occupation had the highest salary?
df.orderBy(df["Salary"].desc()).select("occupation", "Salary").limit(1).show()

+-----------------+------+
|       occupation|Salary|
+-----------------+------+
|Chemical Engineer|   120|
+-----------------+------+

In [7]:
# What occupation had the lowest salary?
df.orderBy(df["Salary"]).select("occupation", "Salary").limit(1).show()

+----------------+------+
|      occupation|Salary|
+----------------+------+
|Product Engineer|    40|
+----------------+------+

In [8]:
# What is the mean salary of this dataset?
from pyspark.sql.functions import mean
df.select(mean("Salary")).show()

+-----------+
|avg(Salary)|
+-----------+
|     79.475|
+-----------+

In [9]:
# What is the max and min of the Salary column?
from pyspark.sql.functions import max, min
df.select(max("Salary"), min("Salary")).show()

+-----------+-----------+
|max(Salary)|min(Salary)|
+-----------+-----------+
|        120|         40|
+-----------+-----------+

In [10]:
# Show all of the occupations where salaries were above 80k
from pyspark.sql.functions import count
df.filter("Salary > 80").select("occupation").show()

+--------------------+
|          occupation|
+--------------------+
|   Account Executive|
|Sales Representative|
|        Developer II|
|     Design Engineer|
|     Project Manager|
|       Programmer II|
|Sales Representative|
|Physical Therapy ...|
|Payment Adjustmen...|
|Mechanical System...|
|     Media Manager I|
|   Account Executive|
|           Professor|
|Community Outreac...|
| Clinical Specialist|
|Human Resources A...|
|Nuclear Power Eng...|
|      Civil Engineer|
|Human Resources M...|
|Senior Cost Accou...|
+--------------------+
only showing top 20 rows

In [11]:
# BONUS
# What is the average age and height for each academic degree type?
# HINT: You will need to use `groupby` to solve this
avg_df = df.groupBy("academic_degree").avg()
avg_df.select("academic_degree", "avg(age)", "avg(height_m)").show()

+---------------+------------------+------------------+
|academic_degree|          avg(age)|     avg(height_m)|
+---------------+------------------+------------------+
|            PhD| 42.87818696883853|1.7537393767705372|
|         Master|42.105095541401276|1.7606050955414014|
|       Bachelor| 43.85585585585586|1.7371771771771771|
+---------------+------------------+------------------+

# ==========================================

### Rating Class Objectives

* rate your understanding using 1-5 method in each objective

In [ ]:
title = "22.1-Big-Data-Introduction to Big Data"
objectives = [
    "Identify the parts of the Hadoop ecosystem",
    "Write a Python script that implements the MapReduce programming model",
    "Identify the differences between the Hadoop and Spark environments",
    "Create a DataFrame by using PySpark",
    "Filter and order a DataFrame by using Spark",
]
rating = []
total = 0
for i in range(len(objectives)):
    rate = input(objectives[i]+"? ")
    total += int(rate)
    rating.append(objectives[i] + ". (" + rate + "/5)")
print("="*96)
print(f"Self Evaluation for: {title}")
print("-"*24)
for i in rating:
    print(i)
print("-"*64)
print("Average: " + str(total/len(objectives)))